.POPOSSpace {
    width: 100%;
    text-align: center;
}

.POPOSSpace > img {
    width: 100%;
    height: auto;
}

.POPOSSpace > hours {
    width: 100%;
    height: auto;
    font: italic;
    font-size: larger;
}

.POPOSSpace > address {
    width: 100%;
    height: auto;
    font: italic;
    font-size: larger;
}